---
import Image from "astro/components/Image.astro";
import FormattedDate from "../FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
  index: number;
  totalPost: number;
  withVerticalGap?: boolean;
}

const { post, index, totalPost, withVerticalGap = false } = Astro.props;
---

<article
  class={`${withVerticalGap ? "py-4" : ""} ${index < totalPost - 1 ? "border-base-300 border-b md:border-b-0" : ""}`}
>
  <a
    href={`/articles/${post.id}/`}
    class="group rounded-box hover:bg-accent/10 -m-3 block p-3 transition-colors"
  >
    {
      post.data.heroImage && (
        <Image
          width={720}
          height={360}
          src={post.data.heroImage}
          alt=""
          class="rounded-box mb-3 h-32 w-full object-cover"
        />
      )
    }
    <h2 class="group-hover:text-primary text-lg font-extrabold transition-colors">
      {post.data.title}
    </h2>
    <p class="text-base-content/70 mt-1 text-sm">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</article>
