---
import FormattedDate from "../../../articles/_components/FormattedDate.astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"blog">;
};
const prop: Props = Astro.props;

const { article } = prop;
---

<a
  href={`/admin/articles/${article.id}`}
  class="bg-base-100 flex w-full gap-6 p-4 md:rounded-2xl"
  hx-boost="false"
>
  <img src={article.data.heroImage?.src} class="aspect-video max-w-40 rounded-2xl" />
  <div class="flex w-full flex-col">
    <p class="line-clamp-2 flex-1 font-bold md:text-lg">{article.data.title}</p>
    <p class="md:text-md line-clamp-2 text-sm">
      Published at: <span>
        <FormattedDate date={article.data.pubDate} />
      </span>
    </p>
  </div>
</a>
