---
import FormattedDate from "../../../articles/_components/FormattedDate.astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"blog">;
};
const prop: Props = Astro.props;

const { article } = prop;
---

<a
  href={`/admin/articles/${article.id}`}
  class="bg-base-100 flex w-full gap-6 rounded-2xl p-4"
  hx-boost="false"
>
  <img src={article.data.heroImage?.src} class="aspect-video max-w-40 rounded-2xl" />
  <div class="flex w-full flex-col">
    <p class="flex-1 text-lg font-bold">{article.data.title}</p>
    <p>
      Published at: <span>
        <FormattedDate date={article.data.pubDate} />
      </span>
    </p>
  </div>
</a>
