---
import { getEntry, render } from "astro:content";
import AdminBlogpost from "../../../layouts/AdminBlogpost.astro";
import Analytics from "./_components/Analytics.astro";

export const prerender = false;

const { slug } = Astro.params;
if (!slug) return new Response("Not found", { status: 404 });

const post = await getEntry("blog", slug);
if (!post) return new Response("Not found", { status: 404 });

const { Content } = await render(post);
---

<div class="flex w-full flex-row">
  <AdminBlogpost {...post.data} slug={post.id}>
    <Content />
  </AdminBlogpost>
  <div class="mx-10 mt-20 w-full max-w-1/4">
    <Analytics slug={slug} server:defer />
  </div>
</div>
