---
export const prerender = false;

import BaseAdminLayout from "../../../layouts/BaseAdminLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE, ADMIN_DOCK } from "../../../consts";
import { getCollection } from "astro:content";
import ArticleItem from "./_components/ArticleItem.astro";

const articles = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseAdminLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  dockProp={{ menus: ADMIN_DOCK, currentPath: "/admin/articles" }}
>
  <div class="mx-auto flex flex-col py-4 md:w-3xl">
    <h1 class="mx-4 text-2xl font-bold md:mx-0">Articles</h1>
    <div class="mt-4 md:mt-0">
      {articles.map((article) => <ArticleItem article={article} />)}
    </div>
  </div>
</BaseAdminLayout>
