---
export const prerender = false;

import BaseAdminLayout from "../../../layouts/BaseAdminLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE, ADMIN_DOCK } from "../../../consts";
---

<BaseAdminLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  dockProp={{ menus: ADMIN_DOCK, currentPath: "/admin/articles" }}
>
  <div>
    <p>Currently you're in admin Article Page</p>
    <a href="/admin">Back to Admin Home</a>
  </div>
</BaseAdminLayout>
