---
import { Icon } from "astro-icon/components";

type Props = {
  menus: Menu[];
  currentPath: string;
};

type Menu = {
  path: string;
  iconName: string;
  label: string;
};

const { menus, currentPath } = Astro.props;
---

<div class="fixed bottom-0 left-0 right-0 z-40">
  <!-- Gradient fade overlay - semi-transparent even at bottom -->
  <div class="pointer-events-none absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-base-200/80 to-transparent dark:from-base-300/80"></div>
  <!-- Dock container -->
  <div class="relative flex justify-center pb-4">
    <ul class="menu menu-horizontal bg-base-100 rounded-2xl py-2 drop-shadow-2xl">
    {
      menus.map((menu) => (
        <li>
          <a
            href={menu.path}
            class={`${menu.path === currentPath ? "menu-active w-28" : "w-24"} mx-1 flex h-16 flex-col px-6`}
          >
            <Icon name={menu.iconName} class="mt-2 h-5 w-5" />
            {menu.label}
          </a>
        </li>
      ))
    }
    </ul>
  </div>
</div>
