---
const today = new Date();
---

<footer class="footer footer-center p-10 bg-base-100 text-base-content mt-10 border-t border-base-300">
	<aside>
		<p class="font-bold font-sono">Astro Blog</p>
		<p class="font-sono">&copy; {today.getFullYear()} - All rights reserved</p>
	</aside>
</footer>
